.project {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .icon {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-color: #232323;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }

    &:hover::before {
      opacity: 0.1;
    }

    .viewBtn {
      background-color: #f3d12d;
      padding: 10px 20px;
    }
  }

  .projectInfo {
    padding: 25px 20px;
    background-color: #252527;

    .projectTitle {
      font-family: 'Ubuntu', sans-serif;
      color: #fff;
      font-weight: 400;
      font-size: 25px;
      letter-spacing: 3px;
    }

    .description {
      font-family: 'Ubuntu', sans-serif;
      color: #fff;
      font-weight: 300;
      font-size: 18px;
      letter-spacing: 1px;
    }
  }
}
