.footer {
  background-color: #1f1f20;
  .footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h2 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 30px;
        font-weight: 400;
        color: #fff;
        margin: 0;
        line-height: 1.5;
    }
    h3 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        margin: 0;
        line-height: 1.5;
        letter-spacing: 3px;
    }

    .socialMedia {
      width: 200px; //возможно медиа запрос нужен
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .icon img{
        height: 40px;
        width: 40px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

      }
    }
  }
}
